<!-- templates/list_reservas.html -->
{% extends 'base.html' %}

{% block title %}
    <title>Reservas</title>
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>Reservas</h1>

        <!-- Reservas pagadas -->
        <h2>Pagadas</h2>
        <ul class="list-group mb-4">
            {% for reserva in reservas %}
                {% if reserva.pagado %}
                    <li class="list-group-item">
                        <a href="{% url 'alquileres:show_reserva' reserva.id %}">
                            Reserva #{{ reserva.id }} - {{ reserva.fecha_entrada }} al {{ reserva.fecha_salida }}
                        </a>
                        <p>Alojamiento: {{ reserva.alojamiento.nombre }}</p>
                    </li>
                {% endif %}
            {% empty %}
                <li class="list-group-item">No hay reservas pagadas.</li>
            {% endfor %}
        </ul>

        <!-- Reservas pendientes de pago -->
        <h2>Pendientes de pago</h2>
        <ul class="list-group">
            {% for reserva in reservas %}
                {% if not reserva.pagado %}
                    <li class="list-group-item">
                        <a href="{% url 'alquileres:show_reserva' reserva.id %}">
                            Reserva #{{ reserva.id }} - {{ reserva.fecha_entrada }} al {{ reserva.fecha_salida }}
                        </a>
                        <p>Alojamiento: {{ reserva.alojamiento.nombre }}</p>
                    </li>
                {% endif %}
            {% empty %}
                <li class="list-group-item">No hay reservas pendientes de pago.</li>
            {% endfor %}
        </ul>

    </div>
{% endblock content %}
