<!-- templates/list_alojamientos.html -->
{% extends 'base.html' %}

{% block title %}
    <title>Lista de Alojamientos</title>
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>Alojamientos</h1>

        {% if user.is_authenticated %}
            {% if user.propietario %}
                <!-- Mostrar botón para añadir alojamiento solo si es propietario -->
                <a href="{% url 'alquileres:create_alojamiento' %}" class="btn btn-success mb-3">Añadir Alojamiento</a>
            {% endif %}
        {% endif %}

        <div class="row">
            {% for alojamiento in alojamientos %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        {% if alojamiento.imagen %}
                            <img src="{{ alojamiento.imagen.url }}" class="card-img-top" alt="{{ alojamiento.nombre }}">
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title">{{ alojamiento.nombre }}</h3>
                            <p class="card-text">{{ alojamiento.descripcion }}</p>
                            <div class="d-flex justify-content-between">
                                <!-- Botón Ver Detalles -->
                                <a href="{% url 'alquileres:show_alojamiento' alojamiento_id=alojamiento.id %}" 
                                   class="btn btn-primary">Ver Detalles</a>
                                <!-- Botón Reservas del Alojamiento -->
                                <a href="{% url 'alquileres:list_reservas_alojamiento' alojamiento_id=alojamiento.id %}" 
                                   class="btn btn-secondary">Reservas del alojamiento</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
