<!-- templates/show_reserva.html -->
{% extends 'base.html' %}

{% block title %}
    <title>Reserva #{{ reserva.id }}</title>
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h1>Reserva #{{ reserva.id }}</h1>
        <p><strong>Fecha de Entrada:</strong> {{ reserva.fecha_entrada }}</p>
        <p><strong>Fecha de Salida:</strong> {{ reserva.fecha_salida }}</p>
        <p><strong>Cliente:</strong> {{ reserva.cliente.nombre }} {{ reserva.cliente.apellido }}</p>
        <p><strong>Alojamiento:</strong> {{ reserva.alojamiento.nombre }}</p>
        <p><strong>Precio Total:</strong> ${{ reserva.precio_total }}</p>
        <p><strong>Estado:</strong> {% if reserva.pagado %}Pagado{% else %}No pagado{% endif %}</p>
    </div>
{% endblock content %}
